name: Build GL4ES for Android

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@main


    - name: Build
      run: |
        mkdir -p build
        cd build
        cmake .. -DCMAKE_MAKE_PROGRAM=$ANDROID_NDK_LATEST_HOME/prebuilt/linux-x86_64/bin/make -DCMAKE_SYSTEM_NAME=Android -DANDROID_ABI=arm64-v8a -DANDROID_PLATFORM=android-24 -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake
        cmake --build . --config Release --parallel $(nproc)

    - name: Strip
      run: |
        cd build
        $ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip libgl4es.so
        
   
    - name: Upload
      uses: actions/upload-artifact@main
      with:
        name: GL4ES
        path: build/libgl4es.so
